.page {
  width: 100%;
  min-width: 320px; /* Для максимальной ширины создал блок page__content, т.к. при установке этого свойства в данном блоке образуются белые поля по краям */
  margin: 0 auto;
  font-family: 'Inter';
  background-color: #2A2C2F;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
