.places {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  gap: 80px;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    gap: 73px;
    padding: 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 73px;
    padding: 88px 24px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .places {
    gap: 50px;
    padding: 64px 0;
  }
}
