.footer__link {
  text-decoration: none;
  padding-right: 18px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  transition: .3s linear;
}

.footer__link:hover {
  opacity: .8;
}
